html {
	font-size: 16px;
}
@media (max-width: 672px) {
	html {
		font-size: 12px;
	}
}

.team {
	width: 100%;
}
.team-container {
	width: 100%;
	padding: 0.5rem;
	background-attachment: fixed;
	background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"),
		linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.95),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0)
		);
}
.team-head {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.team-head__title {
	text-align: center;
	margin: 1rem auto;
	font-size: 5rem;
	line-height: 5.25rem;
	text-decoration: underline;
	color: var(--indigo);
	font-family: "Satisfy", "Google Sans", Cabin, sans-serif;
}

.card {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	overflow: hidden;
	background: transparent;
}
@media (max-width: 672px) {
	.card {
		padding: 1.5rem 2rem;
	}
}
.card-container {
	width: 100%;
	height: 20rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-flow: column;
	border-radius: 10px;
	outline: 4px solid var(--back-shadow);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-blend-mode: darken;
	transition: all var(--transition-time) ease-in-out;
}
@media (max-width: 672px) {
	.card-container {
		height: 30rem;
	}
}
.card-details {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	color: var(--bgcolor);
	transition: all var(--transition-time) ease-in-out;
	padding: 0.75rem 1.5rem;
}
.card-details > * {
	padding: 0.25rem;
	transition: all var(--transition-time) ease-in-out;
}
.card-details__name {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0.1rem;
	color: var(--primary);
}
.card-socials {
	width: 100%;
	height: 0;
	display: flex;
	opacity: 0;
	transition: all var(--transition-time) ease-in-out;
	border-radius: 0 0 10px 10px;
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0)
	);
	background-color: var(--primary);
}
@media (max-width: 880px) {
	.card-socials {
		height: 2.75rem;
		opacity: 1;
	}
}
@media (max-width: 672px) {
	.card-socials {
		height: 3.5rem;
		opacity: 1;
	}
}
.card-social {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-social-icon {
	width: 60%;
	height: 60%;
	border-radius: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-social-icon__img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
	filter: invert(1);
}
@media (max-width: 880px) {
	.card-social-icon__img {
		max-width: 90%;
		max-height: 90%;
	}
}
@media (max-width: 672px) {
	.card-social-icon__img {
		max-width: 85%;
		max-height: 85%;
	}
}
.card:hover .card-container {
	outline-color: var(--primary);
}
.card:hover .card-details__name {
	font-size: 1.6rem;
	padding: 0.5rem 0.25rem;
}
.card:hover .card-details__subtitle {
	padding: 0.5rem 0.25rem;
}
.card:hover .card-socials {
	height: 2.5rem;
	opacity: 1;
}
@media (max-width: 880px) {
	.card:hover .card-socials {
		height: 2.75rem;
	}
}
@media (max-width: 672px) {
	.card:hover .card-socials {
		height: 3.5rem;
	}
}
