.message-container{
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    margin-top: 4%;
    width: 100vw;
}

.message_form{
    width: 40%;
}
.message-form{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    
}
.form-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-group label {
    width: 30%;
    white-space: nowrap;
    height: 100%;
    
}
.form-group input, .form-group textarea {
    width: 70%;
    height: 100%;
}
.message-social{
    font-weight: 700;
    font-family: poppins,sans-serif;
    width: 40%;
    
}
.message-heading{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.message-social i{
    font-size: 3.5rem;
    width: 20%;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.message-social a{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.message-social a>*{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon{
    display: flex;
}
.social-icon:hover{
    color: var(--primary);
}
.message-sub-heading{
    text-align: center;
}
.message-social p {
    
    font-size: 1.5rem;
    margin: auto  0;
    justify-content: flex-start;
    color: #707070;
    width: 80%;
}
.form-btn{
    width: 50%;
    margin: 2% auto;
    
}
@media (max-width:900px){
    .message-container{
        flex-direction: column;
    }
    .message_form{
        width: 90%;
        margin-top: 5%;
    }
    .message-social{
        
        width: 90%;
        
    }
}